@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    height: 100%;
    margin: 0; 
    padding: 0;
    display: block;
    font-family: 'Press Start 2P', cursive;
}

#menu-options {
    width: 250px;
    flex: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1000;
}

#main-content {
    margin-left: 250px;
}

#menu-options::-webkit-scrollbar {
    display: none;
}

#menu-options.collapsed {
    animation: collapseSidebar 0.3s forwards;
}

#menu-options:not(.collapsed) {
    animation: expandSidebar 0.3s forwards;
}

@keyframes collapseSidebar {
    from {
        width: 250px;
    }

    to {
        width: 75px;
    }
}

@keyframes expandSidebar {
    from {
        width: 75px;
    }

    to {
        width: 250px;
    }
}

#menu-options.collapsed .flex.justify-between span {
    display: none;
}

#menu-options.collapsed + #main-content {
    margin-left: 75px;
}

